html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

footer {
  font-size: 0.75rem;
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 100%;
  text-align: right;
}

.layoutContainer {
  max-width: 1100px;
  padding-left: 4em;
  padding-right: 4em;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  @media (max-width: 600px) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.layoutContent {
  padding: 0 5em 5em 5em;
  grid-template-rows: repeat(6, auto);
  place-items: center;
}

@media only screen and (max-width: 1024px) {
  .layoutContent {
    padding: 1em 0 5em 0;
  }
}

@media only screen and (max-width: 768px) {
  .layoutContent {
    padding: 1em 0 5em 0;
  }
}
